/*
 * Empty Stylesheet file.
 */

.button{
    -fx-padding: 5 22 5 22;
    -fx-border-color: #023A94;
    -fx-border-width: 2;
    -fx-background-radius: 6px;
    -fx-background-color:#ffffff;
    -fx-font-family: Arial;
    -fx-font-size: 11pt;
    -fx-text-fill: #023A94;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-font-weight: bold;
    -fx-border-radius: 6px;
}
